<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        Contact List
    </title>
    <style type="text/css">
    body {
        background-color: #eee;
        color: #666;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    
    header,
    footer {
        padding: 8px;
        background-color: #242c51;
        color: #eee;
    }
    </style>
</head>

<body>
    <header>
        <h2>Contact list</h2>
    </header>
    <section>
    <div class="book">
     {% load static %}   
<img src="{% static "/book.png" %}" alt="" height =100 />
    </div>
                        


    {% block content %}
    {% endblock %}


    </section>
    <footer>
        <h5>
        Dzisiejsza data:
        {{now}}
        </h5>
    </footer>
</body>

</html>
